@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/*
0 - 600px:          Phone
600-900px:          Tablet portrait
900-1200px:         Tablet landscape
[1200 - 1800]       Normal styles apply
1800px+ :           Big desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #8908ad, #1f08a2); }

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem; }
  @media (max-width: 37.5em) {
    .container {
      padding: 0; } }

.flex-container {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem; }
  @media (max-width: 56.25em) {
    .flex-container {
      flex-direction: column-reverse;
      align-items: center;
      justify-items: center; } }
  @media (max-width: 37.5em) {
    .flex-container {
      padding: 0; } }

body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5em !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header {
  display: flex;
  flex-direction: row; }
  @media (max-width: 75em) {
    .header {
      padding: 0 5rem; } }
  @media (max-width: 56.25em) {
    .header {
      flex-direction: column-reverse;
      align-items: center; } }
  .header__image {
    margin-top: -5rem; }
    @media (max-width: 56.25em) {
      .header__image {
        margin-top: -5rem;
        margin-bottom: -16rem; } }
  .header .slogan-box {
    margin-top: 9rem;
    padding-left: 2rem; }
    @media (max-width: 56.25em) {
      .header .slogan-box {
        z-index: 5;
        margin-bottom: 9rem; } }
    @media (max-width: 56.25em) {
      .header .slogan-box .slogan {
        text-align: center; } }
    .header .slogan-box .slogan h1 {
      line-height: 8rem;
      font-size: 6.3rem; }
    .header .slogan-box .slogan p {
      line-height: 3.6rem;
      font-size: 2.2rem;
      font-family: "Poppins";
      color: #e6e6e6;
      margin-top: 4.5rem; }
    .header .slogan-box .slogan .cta {
      background-color: #d55e54;
      font-weight: 700;
      font-family: "Poppins";
      font-size: 1.6rem;
      line-height: 3rem;
      border-radius: 50px;
      display: inline-block;
      padding: 1.3rem 4.6rem;
      margin-top: 4.5rem;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
      .header .slogan-box .slogan .cta:hover {
        text-shadow: 0px 0px 3px #fff;
        box-shadow: none; }

.domain-search {
  margin: 0 auto;
  width: 100rem; }
  @media (max-width: 56.25em) {
    .domain-search {
      width: auto; } }
  .domain-search h2 {
    line-height: 6rem;
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 6rem; }
  .domain-search form {
    display: flex;
    flex-direction: row;
    transform: translate(80px, 0px);
    margin-bottom: 4rem; }
    @media (max-width: 37.5em) {
      .domain-search form {
        transform: translate(30px, 0px); } }
  .domain-search__input {
    border: none;
    height: 6rem;
    border-radius: 50px;
    width: 100%;
    line-height: 2rem;
    font-size: 1.7rem;
    font-family: "Poppins";
    padding-left: 5rem;
    padding-right: 13rem; }
    .domain-search__input:focus {
      outline: none; }
    .domain-search__input::placeholder {
      opacity: 0.6; }
    @media (max-width: 37.5em) {
      .domain-search__input {
        padding-left: 2rem;
        padding-right: 9rem; } }
  .domain-search .search-btn {
    background-image: linear-gradient(to right bottom, #f873cf, #a34dc0, #5129b2);
    display: inline-block;
    padding: 1.4rem 4.6rem;
    border-radius: 50px;
    transform: translate(-145px, 0px);
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 700;
    font-family: "Poppins";
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.16); }
    @media (max-width: 75em) {
      .domain-search .search-btn {
        transform: translate(-138px, 0px); } }
    @media (max-width: 56.25em) {
      .domain-search .search-btn {
        transform: translate(-122px, 0px); } }
    @media (max-width: 37.5em) {
      .domain-search .search-btn {
        transform: translate(-59px, 0px); } }
  .domain-search .domain-prices {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-family: "Poppins";
    justify-content: center;
    margin-bottom: 17rem; }
    @media (max-width: 37.5em) {
      .domain-search .domain-prices {
        font-size: 1.2rem; } }
    .domain-search .domain-prices li {
      padding: 0 2rem; }
      @media (max-width: 37.5em) {
        .domain-search .domain-prices li {
          padding: 0 0.5rem; } }

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
  margin-bottom: 16rem; }
  @media (max-width: 75em) {
    .features {
      padding: 0 5rem; } }
  @media (max-width: 56.25em) {
    .features {
      grid-gap: 2%; } }
  @media (max-width: 37.5em) {
    .features {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr); } }
  .features__box {
    background-color: #fff;
    text-align: center;
    padding: 3rem 4rem;
    border-radius: 25px; }
    @media (max-width: 56.25em) {
      .features__box {
        padding: 3rem 2rem; } }
    .features__box img {
      width: 8rem;
      height: 7rem;
      margin-bottom: 1.4rem; }
  .features__title {
    color: #222323;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700; }
  .features__text {
    color: #606060;
    font-size: 1.3rem;
    line-height: 3rem;
    font-family: "Poppins"; }

.footer {
  background-color: #1b1543; }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 95px 117px; }
    @media (max-width: 56.25em) {
      .footer__grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "address quicklinks support account" "newsletter newsletter newsletter newsletter "; } }
    @media (max-width: 37.5em) {
      .footer__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 2rem;
        grid-template-areas: " address quicklinks" "support account" " newsletter newsletter "; } }
    @media (max-width: 37.5em) {
      .footer__grid {
        padding: 5rem; } }
  .footer__title {
    font-family: "Poppins";
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-bottom: 2.5rem; }
  .footer__link {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 2.5rem; }
    .footer__link:hover {
      color: #fff; }
  @media (max-width: 56.25em) {
    .footer__newsletter {
      grid-area: newsletter;
      margin-top: 5rem; } }
  .footer__newsletter form {
    display: flex;
    flex-direction: row; }
  .footer__newsletter__input {
    border: none;
    height: 48px;
    border-radius: 5px;
    line-height: 30px;
    font-size: 15px;
    font-family: "Poppins";
    padding-left: 18px;
    padding-right: 2rem; }
    @media (max-width: 37.5em) {
      .footer__newsletter__input {
        height: 30px;
        border-radius: 5px;
        line-height: 20px;
        font-size: 10px;
        font-family: "Poppins";
        padding-left: 18px;
        padding-right: 2rem; } }
    .footer__newsletter__input:focus {
      outline: none; }
    .footer__newsletter__input::placeholder {
      opacity: 0.6; }
  @media (max-width: 56.25em) {
    .footer__newsletter__quiclinks {
      grid-area: quicklinks; } }
  @media (max-width: 56.25em) {
    .footer__newsletter__title {
      grid-area: title; } }
  @media (max-width: 56.25em) {
    .footer__newsletter__support {
      grid-area: support; } }
  @media (max-width: 56.25em) {
    .footer__newsletter__account {
      grid-area: account; } }
  .footer__newsletter__btn {
    height: 48px;
    border-radius: 5px;
    background-color: #3ecced;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    border: none;
    padding: 8px 29px;
    cursor: pointer;
    transform: translate(-15px, 0px); }
    @media (max-width: 37.5em) {
      .footer__newsletter__btn {
        height: 30px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        padding: 8px 15px;
        transform: translate(-15px, 0px); } }
  .footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 137px; }
    .footer__bottom__container {
      max-width: 90%;
      margin: 0 auto; }
    .footer__bottom .copyright {
      line-height: 2.8rem;
      font-size: 1.4rem;
      font-family: "Poppins"; }
    .footer__bottom a {
      color: rgba(255, 255, 255, 0.8);
      line-height: 2.8rem;
      font-size: 1.4rem;
      font-family: "Poppins";
      padding-left: 1rem; }
      .footer__bottom a:hover {
        color: #fff; }

@media (max-width: 56.25em) {
  .address {
    grid-area: address; } }

.address__title {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 2.5rem; }
  .address__title span {
    font-weight: 700; }

.address__text {
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: "Poppins"; }

@media (max-width: 37.5em) {
  .navigation {
    display: none; } }

.navigation__list {
  display: flex;
  flex-direction: row;
  height: 3rem; }
  @media (max-width: 37.5em) {
    .navigation__list {
      flex-direction: column;
      background-color: blue; } }

.navigation__link {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Poppins";
  padding: 0 0.4rem 0 0.4rem; }

.navigation__mobile {
  position: fixed;
  background-image: linear-gradient(to right bottom, #8908ad, #1f08a2);
  width: 100%;
  height: 100vh;
  z-index: 2000;
  display: none; }

.navigation__mobile__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__mobile__link {
  font-size: 3rem; }
  .navigation__mobile__link a {
    color: #fff; }

.hamburger {
  display: none; }
  @media (max-width: 37.5em) {
    .hamburger {
      display: inline-block;
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      padding: 2rem 3rem;
      z-index: 5000; } }

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
  box-shadow: 0px 2px 3px -1px #5f30ff80;
  border-radius: 2px; }

.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  background-color: #fff;
  box-shadow: none; }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
  background-color: #fff;
  box-shadow: none; }

.home {
  background-image: url("../../assets/header_background_figure.svg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100%;
  height: auto; }
  @media (max-width: 37.5em) {
    .home {
      padding-top: 60px; } }
  .home a {
    color: rgba(255, 255, 255, 0.8);
    padding: 0 2.4rem 0 2.4rem; }
    .home a:hover {
      color: #fff; }

.contact-menu {
  font-size: 1.6rem;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0.1rem;
  background-color: rgba(255, 255, 255, 0.02);
  border-bottom: 0.1rem solid rgba(99, 55, 169, 0.12); }
  .contact-menu span {
    color: rgba(255, 255, 255, 0.39);
    line-height: 2.4rem; }

.main-menu .logo {
  font-size: 4rem;
  padding-left: 2rem; }
  .main-menu .logo span {
    font-weight: 700; }

.choose-us {
  background: linear-gradient(rgba(17, 1, 105, 0.72), rgba(17, 1, 105, 0.72)), url("../../assets/servers_background.jpg");
  height: 800px;
  display: flex; }
  @media (max-width: 75em) {
    .choose-us {
      height: auto;
      padding: 0 5rem 10rem 5rem; } }
  @media (max-width: 56.25em) {
    .choose-us {
      padding-bottom: 10rem; } }
  .choose-us__image {
    margin-top: 14rem; }
    @media (max-width: 56.25em) {
      .choose-us__image {
        margin-top: 10rem; } }
  .choose-us__text_box {
    margin-top: 14rem;
    width: 45%; }
    @media (max-width: 56.25em) {
      .choose-us__text_box {
        margin-top: 2rem;
        width: 90%; } }
    .choose-us__text_box-title {
      font-size: 5rem;
      line-height: 6.6rem;
      margin-bottom: 3.8rem; }
    .choose-us__text_box-text {
      margin-bottom: 3rem;
      font-family: "Poppins";
      font-size: 1.6rem;
      line-height: 2.4rem; }
      .choose-us__text_box-text:last-of-type {
        margin-bottom: 7rem; }
    .choose-us__text_box-btn {
      padding: 1.7rem 4.5rem;
      background-color: rgba(216, 216, 216, 0.29);
      color: #fff;
      border-radius: 50px;
      font-family: "Poppins";
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 400; }

.services {
  background-color: #fff; }
  @media (max-width: 75em) {
    .services {
      padding: 0 5rem; } }
  .services_heading {
    width: 45%;
    margin: 0 auto 15rem auto;
    text-align: center; }
    .services_heading-title {
      padding-top: 10rem;
      padding-bottom: 2rem;
      color: #6b3c96;
      font-size: 4.6rem;
      line-height: 6.1rem; }
    .services_heading-subheading {
      color: #4e4e4e;
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300; }
  .services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 9rem;
    grid-row-gap: 8rem; }
    @media (max-width: 56.25em) {
      .services__grid {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 37.5em) {
      .services__grid {
        grid-column-gap: 4rem; } }
    .services__grid-element {
      text-align: left; }
      @media (max-width: 56.25em) {
        .services__grid-element {
          text-align: center; } }
  .services__img {
    margin-bottom: 3.6rem; }
  .services__title {
    color: #393743;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    margin-bottom: 3.6rem;
    font-family: "Poppins"; }
  .services__text {
    color: #4e4e4e;
    font-size: 1.7rem;
    line-height: 2.6rem;
    font-weight: 300;
    margin-bottom: 3.6rem;
    font-family: "Poppins"; }
    @media (max-width: 56.25em) {
      .services__text {
        text-align: left; } }

.security {
  border-bottom: 1px solid #707070; }
  .security__header {
    padding-top: 150px; }
    @media (max-width: 75em) {
      .security__header {
        padding: 150px 7rem 0 7rem; } }
    @media (max-width: 56.25em) {
      .security__header {
        padding-top: 50px; } }
    .security__header:last-of-type {
      padding-top: 100px;
      margin-bottom: 157px; }
      @media (max-width: 56.25em) {
        .security__header:last-of-type {
          padding-top: 0;
          margin-bottom: 50px; } }
    .security__header__textbox {
      text-align: left;
      width: 45%; }
      @media (max-width: 56.25em) {
        .security__header__textbox {
          width: 90%; } }
  @media (max-width: 56.25em) {
    .security__header2 {
      flex-direction: column; } }
  .security__features {
    margin-bottom: 3rem; }
  .security__title {
    line-height: 5rem;
    font-size: 3.6rem;
    padding-top: 4rem; }
  .security__subheading {
    line-height: 3.1rem;
    font-size: 1.8rem;
    font-family: "Poppins";
    font-weight: 300;
    margin-top: 3rem; }
  .security__features li {
    margin-top: 3rem;
    line-height: 3.1rem;
    font-size: 1.8rem;
    font-family: "Poppins";
    font-weight: 300; }
  .security .svg-icon {
    display: inline-flex;
    align-self: center;
    padding-right: 2rem; }
    .security .svg-icon svg {
      height: 2em;
      width: 2em;
      top: 0.5em;
      position: relative; }
  .security__link {
    line-height: 3.1rem;
    font-size: 1.8rem;
    font-family: "Poppins";
    font-weight: 400;
    color: #fff; }

.plans {
  background-image: url("../../assets/plan_background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .plans_heading {
    width: 45%;
    margin: 0 auto 15rem auto;
    text-align: center; }
    .plans_heading-title {
      padding-top: 10rem;
      padding-bottom: 2rem;
      font-size: 4.6rem;
      line-height: 5.3rem; }
    .plans_heading-subheading {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300;
      font-family: "Poppins";
      margin-bottom: 80px; }
  .plans__grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 4%;
    padding-bottom: 160px; }
    @media (max-width: 37.5em) {
      .plans__grid {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        justify-items: center;
        grid-row-gap: 4%; } }
  .plans__card {
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    padding: 8rem 10rem;
    border-radius: 20px;
    border-bottom-right-radius: 268px; }
    @media (max-width: 75em) {
      .plans__card {
        padding: 8rem 2rem; } }
    @media (max-width: 56.25em) {
      .plans__card {
        padding: 6rem 1rem; } }
    @media (max-width: 37.5em) {
      .plans__card {
        padding: 8rem 4rem; } }
    .plans__card-title {
      color: #706a93;
      font-size: 2.4rem;
      line-height: 4.9rem;
      font-weight: 400;
      font-family: "Poppins";
      margin-bottom: 3rem; }
    .plans__card-capacity {
      color: #000;
      font-size: 6rem;
      line-height: 6rem;
      position: relative;
      font-family: "Poppins";
      margin-bottom: 3rem;
      display: inline-block; }
      .plans__card-capacity span {
        color: #706a93;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;
        position: absolute;
        top: 0;
        right: -2.5rem;
        font-family: "Poppins"; }
    .plans__card-features {
      color: #5f6874;
      font-family: "Poppins";
      font-size: 1.7rem;
      line-height: 3rem; }
      .plans__card-features li {
        margin-bottom: 1rem; }
      .plans__card-features :last-child {
        margin-bottom: 2rem; }
    .plans__card-price {
      color: #000;
      font-family: "Poppins";
      font-size: 2.1rem;
      line-height: 4rem;
      font-weight: 400; }

.buy-now {
  border-radius: 20px;
  position: relative; }
  @media (max-width: 37.5em) {
    .buy-now {
      width: 90%; } }
  .buy-now__link {
    font-family: "Poppins";
    position: absolute;
    right: 6px;
    bottom: 45px;
    transform: rotate(-45deg);
    color: #fff;
    font-weight: 900;
    line-height: 1.8rem;
    font-size: 1.9rem; }
    @media (max-width: 56.25em) {
      .buy-now__link {
        transform: translate(8px, 10px) rotate(-45deg); } }
    @media (max-width: 37.5em) {
      .buy-now__link {
        transform: translate(0, 0) rotate(-45deg);
        font-size: 2.5rem; } }

.buy-now--50 {
  background-color: #9262ff; }

.buy-now--100 {
  background-color: #62e7ff; }

.buy-now--500 {
  background-color: #62ff98; }
