@import url("https://fonts.googleapis.com/css?family=Poppins:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/*
0 - 600px:          Phone
600-900px:          Tablet portrait
900-1200px:         Tablet landscape
[1200 - 1800]       Normal styles apply
1800px+ :           Big desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5em !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

body {
  background-image: linear-gradient(to right bottom, #8908ad, #1f08a2); }

.home {
  background-image: url("../../assets/header_background_figure.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto; }
  .home a {
    color: #fff;
    padding: 0 2.4rem 0 2.4rem; }

.home-container {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem; }

.contact-menu {
  font-size: 1.6rem;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0.1rem;
  background-color: rgba(255, 255, 255, 0.02);
  border-bottom: 0.1rem solid rgba(99, 55, 169, 0.12); }
  .contact-menu span {
    color: rgba(255, 255, 255, 0.39);
    line-height: 2.4rem; }

.main-menu .logo {
  font-size: 4rem; }

.main-menu .navigation__list {
  display: flex;
  flex-direction: row; }

.main-menu .navigation__link {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Poppins";
  padding: 0 0.4rem 0 0.4rem; }

.header {
  display: flex;
  flex-direction: row; }
  .header .slogan-box {
    margin-top: 9rem;
    padding-left: 2rem; }
    .header .slogan-box .slogan h1 {
      line-height: 8rem;
      font-size: 6.3rem; }
    .header .slogan-box .slogan p {
      line-height: 3.6rem;
      font-size: 2.2rem;
      font-family: "Poppins";
      color: #e6e6e6;
      margin-top: 4.5rem; }
    .header .slogan-box .slogan .cta {
      background-color: #d55e54;
      font-weight: 700;
      font-family: "Poppins";
      font-size: 1.6rem;
      line-height: 3rem;
      border-radius: 50px;
      display: inline-block;
      padding: 1.3rem 4.6rem;
      margin-top: 4.5rem; }
      .header .slogan-box .slogan .cta:hover {
        text-shadow: 0px 0px 3px #fff; }
  .header__image {
    margin-top: -5rem; }

.domain-search {
  margin: 0 auto;
  width: 100rem; }
  .domain-search h2 {
    line-height: 6rem;
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 6rem; }
  .domain-search form {
    display: flex;
    flex-direction: row;
    transform: translate(80px, 0px);
    margin-bottom: 4rem; }
  .domain-search__input {
    border: none;
    height: 6rem;
    border-radius: 50px;
    width: 100%;
    line-height: 2rem;
    font-size: 1.7rem;
    font-family: "Poppins";
    padding-left: 5rem;
    padding-right: 13rem; }
    .domain-search__input:focus {
      outline: none; }
    .domain-search__input::placeholder {
      opacity: 0.6; }
  .domain-search .search-btn {
    background-image: linear-gradient(to right bottom, #f873cf, #a34dc0, #5129b2);
    display: inline-block;
    padding: 1.4rem 4.6rem;
    border-radius: 50px;
    transform: translate(-145px, 0px);
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-family: "Poppins";
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.16); }
  .domain-search .domain-prices {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-family: "Poppins";
    justify-content: center;
    margin-bottom: 17rem; }
    .domain-search .domain-prices li {
      padding: 0 2rem; }

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
  margin-bottom: 16rem; }
  .features__box {
    background-color: #fff;
    text-align: center;
    padding: 3rem 4rem;
    border-radius: 25px; }
    .features__box img {
      width: 8rem;
      height: 7rem;
      margin-bottom: 1.4rem; }
  .features__title {
    color: #222323;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700; }
  .features__text {
    color: #606060;
    font-size: 1.3rem;
    line-height: 3rem;
    font-family: "Poppins"; }

.choose-us {
  background: linear-gradient(rgba(17, 1, 105, 0.72), rgba(17, 1, 105, 0.72)), url("../../assets/servers_background.png");
  height: 800px;
  display: flex;
  flex-direction: row; }
  .choose-us__text_box {
    margin-top: 14rem;
    width: 45%; }
    .choose-us__text_box-title {
      font-size: 5rem;
      line-height: 6.6rem;
      margin-bottom: 3.8rem; }
    .choose-us__text_box-text {
      margin-bottom: 3rem;
      font-family: "Poppins";
      font-size: 1.6rem;
      line-height: 2.4rem; }
      .choose-us__text_box-text:last-of-type {
        margin-bottom: 7rem; }
    .choose-us__text_box-btn {
      padding: 1.7rem 4.5rem;
      background-color: rgba(216, 216, 216, 0.29);
      color: #fff;
      border-radius: 50px;
      font-family: "Poppins";
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 400; }
  .choose-us__image {
    margin-top: 14rem; }

.services {
  background-color: #fff;
  text-align: center; }
  .services_heading {
    width: 45%;
    margin: 0 auto 15rem auto; }
    .services_heading-title {
      padding-top: 10rem;
      padding-bottom: 2rem;
      color: #6b3c96;
      font-size: 4.6rem;
      line-height: 6.1rem; }
    .services_heading-subheading {
      color: #4e4e4e;
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300; }
