.domain-search {
  margin: 0 auto;
  width: 100rem;
  @include respond(tab-port) {
    width: auto;
  }
  h2 {
    line-height: 6rem;
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 6rem;
  }

  form {
    display: flex;
    flex-direction: row;
    transform: translate(80px, 0px);
    margin-bottom: 4rem;
    @include respond(phone) {
      transform: translate(30px, 0px);
    }
  }

  &__input {
    border: none;
    height: 6rem;
    border-radius: 50px;
    width: 100%;
    line-height: 2rem;
    font-size: 1.7rem;
    font-family: "Poppins";

    padding-left: 5rem;
    padding-right: 13rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 0.6;
    }

    @include respond(phone) {
      padding-left: 2rem;
      padding-right: 9rem;
    }
  }

  .search-btn {
    background-image: linear-gradient(
      to right bottom,
      #f873cf,
      #a34dc0,
      #5129b2
    );
    display: inline-block;
    padding: 1.4rem 4.6rem;
    border-radius: 50px;
    transform: translate(-145px, 0px);
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 700;
    font-family: "Poppins";
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.16);
    @include respond(tab-land) {
      transform: translate(-138px, 0px);
    }
    @include respond(tab-port) {
      transform: translate(-122px, 0px);
    }
    @include respond(phone) {
      transform: translate(-59px, 0px);
    }
  }
  .domain-prices {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-family: "Poppins";
    justify-content: center;
    margin-bottom: 17rem;
    li {
      padding: 0 2rem;
    }
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
  margin-bottom: 16rem;
  @include respond(tab-land) {
    padding: 0 5rem;
  }
  @include respond(tab-port) {
    grid-gap: 2%;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  &__box {
    background-color: #fff;
    text-align: center;
    padding: 3rem 4rem;
    border-radius: 25px;
    @include respond(tab-port) {
      padding: 3rem 2rem;
    }

    img {
      width: 8rem;
      height: 7rem;
      margin-bottom: 1.4rem;
    }
  }

  &__title {
    color: #222323;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700;
  }

  &__text {
    color: #606060;
    font-size: 1.3rem;
    line-height: 3rem;
    font-family: "Poppins";
  }
}
