body {
  background-image: linear-gradient(
    to right bottom,
    rgb(137, 8, 173),
    rgb(31, 8, 162)
  );
}

.home {
  background-image: url("../../assets/header_background_figure.svg");
  background-size: contain;
  background-repeat: no-repeat;

  width: 100%;
  height: auto;

  a {
    color: rgba(255, 255, 255, 0.8);
    padding: 0 2.4rem 0 2.4rem;
    &:hover {
      color: #fff;
    }
  }
}

.contact-menu {
  font-size: 1.6rem;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0.1rem;
  background-color: rgba(255, 255, 255, 0.02);
  border-bottom: 0.1rem solid rgba(99, 55, 169, 0.12);

  span {
    color: rgba(255, 255, 255, 0.39);
    line-height: 2.4rem;
  }
}

.main-menu {
  .logo {
    font-size: 4rem;
    padding-left: 2rem;
    span {
      font-weight: 700;
    }
  }

  .navigation {
    &__list {
      display: flex;
      flex-direction: row;
    }

    &-container {
      align-items: center;
    }

    &__link {
      font-size: 2rem;
      font-weight: 400;
      font-family: "Poppins";
      padding: 0 0.4rem 0 0.4rem;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;

  .slogan-box {
    margin-top: 9rem;
    padding-left: 2rem;
    .slogan {
      h1 {
        line-height: 8rem;
        font-size: 6.3rem;
      }

      p {
        line-height: 3.6rem;
        font-size: 2.2rem;
        font-family: "Poppins";
        color: #e6e6e6;
        margin-top: 4.5rem;
      }

      .cta {
        background-color: #d55e54;
        font-weight: 700;
        font-family: "Poppins";
        font-size: 1.6rem;
        line-height: 3rem;
        border-radius: 50px;
        display: inline-block;
        padding: 1.3rem 4.6rem;
        margin-top: 4.5rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        &:hover {
          text-shadow: 0px 0px 3px #fff;
          box-shadow: none;
        }
      }
    }
  }

  &__image {
    margin-top: -5rem;
  }
}

.domain-search {
  margin: 0 auto;
  width: 100rem;
  h2 {
    line-height: 6rem;
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 6rem;
  }

  form {
    display: flex;
    flex-direction: row;
    transform: translate(80px, 0px);
    margin-bottom: 4rem;
  }

  &__input {
    border: none;
    height: 6rem;
    border-radius: 50px;
    width: 100%;
    line-height: 2rem;
    font-size: 1.7rem;
    font-family: "Poppins";

    padding-left: 5rem;
    padding-right: 13rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 0.6;
    }
  }

  .search-btn {
    background-image: linear-gradient(
      to right bottom,
      #f873cf,
      #a34dc0,
      #5129b2
    );
    display: inline-block;
    padding: 1.4rem 4.6rem;
    border-radius: 50px;
    transform: translate(-145px, 0px);
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-family: "Poppins";
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.16);
  }
  .domain-prices {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-family: "Poppins";
    justify-content: center;
    margin-bottom: 17rem;
    li {
      padding: 0 2rem;
    }
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
  margin-bottom: 16rem;

  &__box {
    background-color: #fff;
    text-align: center;
    padding: 3rem 4rem;
    border-radius: 25px;

    img {
      width: 8rem;
      height: 7rem;
      margin-bottom: 1.4rem;
    }
  }

  &__title {
    color: #222323;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700;
  }

  &__text {
    color: #606060;
    font-size: 1.3rem;
    line-height: 3rem;
    font-family: "Poppins";
  }
}
