.navigation {
  @include respond(phone) {
    display: none;
  }

  &__mobile {
    position: fixed;
    background-color: rgb(44, 37, 37);
    width: 100%;
    height: 100vh;
    z-index: 2000;
    display: block;
    transform: translate(-50%, -50%);
  }
  &__list {
    //display: flex;
    height: 3rem;

    @include respond(phone) {
      //flex-direction: column;
    }
  }

  &-container {
    @include respond(phone) {
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins";
    padding: 0 0.4rem 0 0.4rem;
  }

  &__active {
  }
}

.hamburger {
  display: none;
  @include respond(phone) {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 3rem;
    z-index: 5000;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
  box-shadow: 0px 2px 3px -1px #5f30ff80;
  border-radius: 2px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  background-color: #fff;
  box-shadow: none;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
  background-color: #fff;
  box-shadow: none;
}
