.security {
  border-bottom: 1px solid #707070;

  &__header {
    padding-top: 150px;
    @include respond(tab-land) {
      padding: 150px 7rem 0 7rem;
    }

    @include respond(tab-port) {
      padding-top: 50px;
    }
    &:last-of-type {
      padding-top: 100px;
      margin-bottom: 157px;
      @include respond(tab-port) {
        padding-top: 0;
        margin-bottom: 50px;
      }
    }

    &__textbox {
      text-align: left;
      width: 45%;
      @include respond(tab-port) {
        width: 90%;
      }
    }
    &__image {
    }
  }
  &__header2 {
    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__features {
    margin-bottom: 3rem;
  }

  &__title {
    line-height: 5rem;
    font-size: 3.6rem;
    padding-top: 4rem;
  }

  &__subheading {
    line-height: 3.1rem;
    font-size: 1.8rem;
    font-family: "Poppins";
    font-weight: 300;
    margin-top: 3rem;
  }

  &__features {
    li {
      margin-top: 3rem;
      line-height: 3.1rem;
      font-size: 1.8rem;
      font-family: "Poppins";
      font-weight: 300;
    }
  }

  .svg-icon {
    display: inline-flex;
    align-self: center;
    padding-right: 2rem;
    svg {
      height: 2em;
      width: 2em;
      top: 0.5em;
      position: relative;
    }
  }

  &__link {
    line-height: 3.1rem;
    font-size: 1.8rem;
    font-family: "Poppins";
    font-weight: 400;
    color: #fff;
  }
}
