.services {
  background-color: #fff;

  &_heading {
    width: 45%;
    margin: 0 auto 15rem auto;
    text-align: center;
    &-title {
      padding-top: 10rem;
      padding-bottom: 2rem;
      color: #6b3c96;
      font-size: 4.6rem;
      line-height: 6.1rem;
    }

    &-subheading {
      color: #4e4e4e;
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 9rem;
    grid-row-gap: 8rem;

    &-element {
      text-align: left;
    }
  }

  &__img {
    margin-bottom: 3.6rem;
  }

  &__title {
    color: #393743;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    margin-bottom: 3.6rem;
    font-family: "Poppins";
  }

  &__text {
    color: #4e4e4e;
    font-size: 1.7rem;
    line-height: 2.6rem;
    font-weight: 300;
    margin-bottom: 3.6rem;
    font-family: "Poppins";
  }
}
